{{/*
  credentials-item.html
  Single credential/certificate item.

  Parameters (from range):
    - name: certificate name (required)
    - issuer: issuing organization (required)
    - date: issue date YYYY-MM format (required)
    - image: path to certificate image (optional)
    - icon: icon name, default "certificate" (optional)
    - description: additional description (optional)
*/}}

<div class="credentials-list__item">
  {{- with .image -}}
    <div class="credentials-list__image">
      {{- partial "image.html" (dict
          "src" .
          "alt" $.name
          "loading" "lazy"
          "sizes" "(min-width: 768px) 300px, 100vw"
          "widths" (slice 200 300 400)
          "fit" ($.imageFit | default "fill")
          "aspectRatio" ($.imageAspectRatio | default "4:3")) -}}
    </div>
  {{- else -}}
    <div class="credentials-list__icon">
      {{- partial "icon.html" (dict "name" (.icon | default "certificate") "size" 24) -}}
    </div>
  {{- end -}}

  <h4 class="credentials-list__name">{{ .name }}</h4>

  {{- with .issuer -}}
    <p class="credentials-list__issuer">{{ . }}</p>
  {{- end -}}

  {{- with .date -}}
    {{- $dateObj := time (printf "%s-01" .) -}}
    <time class="credentials-list__date" datetime="{{ . }}">
      {{ $dateObj.Format "January 2006" }}
    </time>
  {{- end -}}

  {{- with .description -}}
    <p class="credentials-list__description">{{ . }}</p>
  {{- end -}}
</div>
